<div class="container">
    <div id="gameend">
        <div style="text-align:center;margin:0 auto 25px auto;">
            <h1 style="color:#555;">SCORES</h1>
            {{#endeds}}
            {{#if ended}}
            <h3 style="color:#777;">We have a winner</h3>
            {{else}}
            <h3 style="color:#777;">Take a break while others catch up!</h3>
            {{/if}}
            {{/endeds}}
        </div>
        {{#scores}}
        {{#if winner}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-winner">
                <span class="badge badge-winner">{{score}}</span>
                {{name}}
            </li>
        </ul>
        {{else}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <span class="badge">{{score}}</span>
                {{name}}
            </li>
        </ul>
        {{/if}}
        {{/scores}}
    </div>
</div>
